.block {
    width: 100px;
    height: 100px;
    background-color: red;
}

@media screen and (orientation: landscape) {

    .block {
        background-color: yellow;
    }
}


@media screen and (min-width: 450px) {

    .block {
        background-color: blue;
    }
}


@media screen and (min-width: 550px) {

    .block {
        background-color: green;
        width: 200px;
        height: 200px;
    }
}

